$black:#2e2e2e;
$white:#ffffff;

$ivory:#FFFFFA;

$seaglass:#C6ECEB;
$seaglass-light:#EDF9F9;
$navy:#0E2D60;
$watermelon:#FF6060;
$watermelon-light:#FFDFDF;


$blue-dark:#003399;
$blue-medium:#3366CC;
$blue-light:#407FFF;

$grey-dark:#222;
$grey-medium:#777;
$grey-light:#eee;
