* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::selection {
  background: $grey-light; /* Safari */
}

::-moz-selection {
  background: $grey-light; /* Firefox */
}

section {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 4em;
  padding-bottom: 4em;
}

.home {
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) 20%), url('/img/ShannonMichael7219.jpg');
  background-position: center -18%;
  background-color: $black;
  position: relative;
  padding: 0;

  .header {
    width: 100%;
    color: $white;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
  }

  .content {
    width: 100%;
    color: $white;
    position: absolute;
    bottom: 10%;
    text-transform: uppercase;
  }
}

.story {
  background-color: $ivory;
  h3 { color: $watermelon; }
}

.save-the-date {
  padding-top: 6em;
  padding-bottom: 6em;
  background-image: linear-gradient(180deg, rgba($seaglass, 0.35), rgba($seaglass, 0.35) 50%), url('/img/xv.png');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: inherit;
}

.wedding {
  background-image: linear-gradient(180deg, rgba($ivory, 0.85), rgba($ivory, 0.85) 25%), url('/img/building-sketch.jpg');
  background-position: center bottom;
  background-size: inherit;
  background-attachment: inherit;
  h2 { color: $watermelon; }
}

.what-to-wear {
  background-color: $watermelon-light;  
}

.accommodations {
  background-color: $green-light;
}

.registry {
  background-color: $ivory;
}

.card {
  background-color: $ivory;
  padding: 3em;
  box-shadow: 0px 1px 5px 0px rgba(119,119,119,1);
}

.footer {
  background-image: url('/img/ShannonMichael7258.jpg');
  background-position: center 10%;
  min-height: 200px;
}

.rsvp {
  background-image: linear-gradient(180deg, rgba($seaglass, 0.35), rgba($seaglass, 0.35) 50%), url('/img/xv.png');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: inherit;
}

.response {
  font-size: 16px;
}

.button-primary {
  background-color: $navy !important;
  border-color: $navy !important;
}

input:disabled {
  background-color: #eee;
  &:hover{ cursor: not-allowed; }
}